@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

// VARIABLES START
$color1: #8961de;
$color2: #c2cfe0;
// VARIABLES END

// GLOBAL START
html {
	width: 100%;
	font-size: 100%;
	overflow-x: hidden;
	scroll-behavior: auto !important;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 100%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 96%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 92%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 88%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 84%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 80%;
	}
}

.f8 {
	font-size: 0.5rem;
}

.f10 {
	font-size: 0.625rem;
}

.f12 {
	font-size: 0.75rem;
}

.f14 {
	font-size: 0.875rem;
}

.f15 {
	font-size: 0.938rem;
}

.f16 {
	font-size: 1rem;
}

.f18 {
	font-size: 1.125rem;
}

.f20 {
	font-size: 1.25rem;
}

.f22 {
	font-size: 1.375rem;
}

.f24 {
	font-size: 1.5rem;
}

.f34 {
	font-size: 2.125rem;
}

.f30 {
	font-size: 1.875rem;
}

.f35 {
	font-size: 2.125rem;
	line-height: 57px;
}

.f50 {
	font-size: 3.125rem;
	line-height: 65px;
}

.f64 {
	font-size: 4rem;
	line-height: 71px;
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.fw900 {
	font-weight: 900;
}

hr {
	background-color: #ebeff2;
	padding: 0.09rem 0rem;
}

.pointer {
	cursor: pointer;
}

// COLORS
.color1 {
	color: $color1;
}

.color2 {
	color: $color2;
}

// LOGIN START
.login_container {
	background-color: #f5f6f8;
	height: 100vh;
	width: 100%;

	// WAVE
	.bottom_wave {
		position: absolute;
		bottom: 0%;
	}

	// form
	.login_form {
		max-width: 392px;
		width: 100%;
		background-color: #fff;
		border-radius: 5px;

		label {
			color: #90a0b7;
		}

		input {
			background: rgba(235, 239, 242, 0.35);
			border: 1px solid #ebeff2;
			border-radius: 5px;
			height: 38px;
			color: #90a0b7;

			&::placeholder {
				color: #90a0b7;
			}

			&:focus {
				outline: none;
			}
		}

		.eye {
			position: absolute;
			top: 56%;
			transform: translateY(-50%);
			right: 0.5rem;
		}

		button {
			height: 38px;
			border-radius: 5px;
			background-color: $color1;
		}
	}
}
// LOGIN END

// MEDIA START
@media screen and (max-width: 998px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
}
// MEDIA END
